@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

.hero-image {
  background-image: url("../../public/images/beach.png");
}

.yoga-image {
  background-image: url("../../public/images/yoga.jpg");
}

@font-face {
  font-family: "Barlow";
  src: url("../../public/fonts/Barlow/Barlow-Medium.ttf");
}

@font-face {
  font-family: "Easy Rider";
  src: url("../../public/fonts/EasyRider/EasyRider-Regular.ttf");
}

@layer base {
  body {
    @apply font-barlow;
    @apply bg-primary-100;
  }
}
